:root {
    --primary-color: rgb(195, 202, 231);
    --secondary-color:rgb(33, 33, 194); 
    --neutral1-color: hsl(224, 23%, 55%);
    --heading-color: hsl(223, 47%, 23%);
    --accent-color: rgb(230, 227, 227);
}

body {
   font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
    height: 90vh;
    display: flex;
    width: 100vw;
}

.container {
    background-color: #fff;
    width: 450px;
    height: 90vh;
    border-radius: 10px;
    margin-top: 5%;
    box-shadow: 10px 10px 30px rgb(176, 176, 223);
}

h2 {
    color: var(--heading-color);
    font-weight: 600;
    text-align: center;
}

.description {
   color:rgb(194, 199, 221) ;
   font-weight: 400;
   font-size: 20px;
   text-align: center;
   margin-bottom: 20px;
}

.subscription {
   background-color: rgb(240,241,245);
   margin: 30px;
   border-radius: 10px;
   padding: 15px;
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
}

.order-link {
    align-self: center;
    text-decoration: none;
}

.card-hero {
    border-radius: 10px 10px 0 0;
}

.card-btn {
   font-size: 16px;
   padding:25px;
   width: 400px;
   background-color: rgb(40, 12, 199);
   color: #fff;
   cursor: pointer;
   border: 0;
   border-radius: 5px;
   box-shadow: 5px 10px 15px rgb(202, 209, 240);
   margin-left: 25px;
}

.card-option {
    font-weight: bold;
    text-align: center;
    line-height: 4rem;
}

@media  screen and (max-width:375px) {

   
    .container {
        background-color: #fff;
        width: 340px;
        height: 85vh;
        margin-left: 3rem;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 10px 10px 30px rgb(176, 176, 223);
    }
    .card-hero {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 340px;
    }
    .card-btn {
        font-size: 16px;
        padding:25px;
        width: 290px;
         background-color: rgb(40, 12, 199);
        color: #fff;
        border: 0;
        border-radius: 5px;
        box-shadow: 5px 10px 15px rgb(202, 209, 240);
        margin-left: 25px;
     }
}